    <%content_for :class_banner_name do%>
            banner_site_vehicle_list
    <%end%>

    <div id="vehicles_list">

      <span id="label_endereco_titulo" class="label_detalhe_veiculo">
        <label>Endereços</label>
      </span>

      <div id="endereco_esquerda">

        <% for store in @stores %>

          <% link_to ({:controller=> 'address' , :action=> 'show', :id => store}) do%>
            <span id="contato_lojas_<%= store.id %>" class="contato_lojas">
              <!--<%= link_to store.name , {:controller=> 'address' , :action=> 'show', :id => store} , :id => store.id , :class=> "contato_loja_titulo" %><br> -->
              <label class="contato_loja_titulo"><%= store.name %></label><br>
              <label class="contatos_loja_end"><%= store.street%>, <%= store.number%> - <%= store.neighborhood%> - <%= store.city%> - <%= store.state %> </label><br>
              <label class="contatos_loja_tel_label">Tel: </label><label class="contatos_loja_end""><%= store.telephone %></label><br><br>
            </span>
          <% end %>

        <% end %>

      </div>

      <div id="endereco_direita">
        <iframe width="425" height="254" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.br/maps?f=q&amp;source=s_q&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Joaquim+Carlos,+1119,+Pari,+S%C3%A3o+Paulo&amp;sll=-14.179186,-50.449219&amp;sspn=65.841011,156.445313&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Joaquim+Carlos,+1119+-+Pari,+S%C3%A3o+Paulo,+03019-000&amp;t=h&amp;ll=-23.526848,-46.607351&amp;spn=0.004997,0.009141&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com.br/maps?f=q&amp;source=embed&amp;hl=pt-BR&amp;geocode=&amp;q=Rua+Joaquim+Carlos,+1119,+Pari,+S%C3%A3o+Paulo&amp;sll=-14.179186,-50.449219&amp;sspn=65.841011,156.445313&amp;ie=UTF8&amp;hq=&amp;hnear=R.+Joaquim+Carlos,+1119+-+Pari,+S%C3%A3o+Paulo,+03019-000&amp;t=h&amp;ll=-23.526848,-46.607351&amp;spn=0.004997,0.009141&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
      </div>

    </div>

