<% for item in @bikes %>
  <div id="moto_listado" class="veiculo_listado">
      <span id="moto_foto">
          <img src="uploads/pictures/<%= item.picture[0].id%>/picture_<%= item.picture[0].id%>_thumbnail.jpg" class="veiculo_foto"/>
      </span>
      <span id="moto_descricao" class="carro_descricao">
         <label><%= item.car.brand.name%> <%= item.car.name%> <%= item.year.description%>-<%= item.model.description%></label><br>
         <label class="carro_preco"><%= Dinheiro.new(item.amount).real_formatado %></label>
      </span>
      <label class="veiculo_saiba_mais"><%= link_to "Saiba Mais", :controller => "vehicle_details", :action => "show", :id => item %></label>
  </div>
<% end %>

