    <%content_for :class_banner_name do%>
            banner_site_vehicle_list
    <%end%>

    <div id="vehicles_list">

      <span id="label_contato_titulo" class="label_detalhe_veiculo">
        <label>Contato</label>
      </span>

      <div id="contato_form">

            <span id="contato_info_label" class="contato_info_label">
              <label>Preencha o formulário abaixo para dúvidas, propostas e sugestões.</label>
            </span>

            <span id="contato_info_form">
              <% form_tag({:controller=>"contacts", :action=>"send_email"}, :method => "post") do %>
                <%= label_tag(:nome,     "Nome:"    ,:class => "form_info_label_nome") %>  <%= text_field_tag(:nome_txt    , nil ,:class => "form_info_txt_nome"  ,:size => 30) %><br><br>
                <%= label_tag(:email,    "E-Mail:"  ,:class => "form_info_label_email") %>  <%= text_field_tag(:email_txt   , nil,:class => "form_info_txt_email" ,:size => 30) %><br><br>
                <%= label_tag(:telefone, "Telefone:",:class => "form_info_label_tel") %>  <%= text_field_tag(:telefone_txt, nil,:class => "form_info_txt_tel"     ,:size => 30) %><br><br>
                <%= label_tag(:msg,      "Mensagem:",:class => "form_info_label_msg") %>  <%= text_area_tag (:msg_tx , nil, :rows => 8 , :cols => 35,:class => "form_info_txt_msg"  ) %><br><br>
                <%= check_box_tag 'news', '1', false, :class => "form_info_check_news"%>  <%= label_tag(:news,     "Desejo receber promoções e oportunidades exclusivas da Ricar Automóveis e de seus parceiros",:class => "form_info_label_news") %> <br><br>
                <%= submit_tag("Enviar",:class=> "form_info_botao") %><br>
              <% end %>
            </span>
      </div>

      <div id="contato_lojas_info">
        <label class="label_end_tel">Endereços e Telefones</label><br>

        <% for store in @stores %>
          <span id="contato_lojas_<%= store.id %>" class="contato_lojas">
            <label class="contato_loja_titulo"><%= store.name %></label><br>
            <label class="contatos_loja_end"><%= store.street%>, <%= store.number%> - <%= store.neighborhood%> - <%= store.city%> - <%= store.state%> </label><br>
            <label class="contatos_loja_tel_label">Tel: </label><label class="contatos_loja_end""><%= store.telephone%></label><br><br>
          </span>
        <% end %>
      </div>

    </div>

