<head>
<title>Loja Ricar</title>
  <%= stylesheet_link_tag 'default' %>
  <%= stylesheet_link_tag 'lightbox'%>
  <%= stylesheet_link_tag 'facebox' %>

  <%= javascript_include_tag 'prototype', 'effects' %>
  <%= javascript_include_tag 'jquery', 'jrails' -%>

  <script type="text/javascript">
    jQuery.noConflict();
  </script>

  <%= javascript_include_tag 'facebox' %>
  <%= javascript_include_tag 'lightbox' %>

<%= GMap.header(:with_vml => false, :host => request.host) %>
</head>
<body>
    <div id="fundo_pag">
      <div id="fundo_pag_top">
    	  <span id="img_top"><img src="../images/top_logo.jpg" /></span>
    	    <div id="menu_top">
            <span id="menu_options">
              <ul>
                <li><%= link_to "HOME"  , :controller=> 'home'%></li>
                <li><%= link_to "TAXI"  , :controller=> 'list_vehicles', :action => 'show' ,:id => 2%></li>
                <li><%= link_to "CARRO" , :controller=> 'list_vehicles', :action => 'show' ,:id => 1%></li>
                <li><%= link_to "MOTO"  , :controller=> 'list_vehicles', :action => 'show' ,:id => 3%></li>
                <li>FINANCIAMENTO</li>
                <li><%= link_to "ENDEREÇO",:controller=> 'address' , :action => 'show', :id => 1%></li>
                <li><%= link_to "CONTATO" ,:controller=> 'contacts', :action => 'index'%></li>
              </ul>
            </span>
          </div>
      <div id="banner_site" class="<%= yield :class_banner_name %>">

      </div>
    </div> <!-- fundo_pag_top -->
    <div id="conteudo">
      <%= yield%>
    <div id="fundo_pag_footer">
    </div>
  </div>
</body>

